.IndicatorIcon {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid #3056FB;
  margin-bottom: 5px;
  font-size: 25px;
  color: #3056FB;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin-right: 5px;
  &.is-small {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    font-size: 15px;
  }
  &.is-widget {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid 3056FB;
  }
}