@import '../libs/colors.scss'; 

.NavTable {
  color: white;
  background: white;
  &__total-cell {
    color: #2C50FF;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    padding: 5px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }
  &__shop {
    background-color: $normalColor;
    //height: 40px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 600;
    &.is-normal {
      background-color: $normalColor;
    }
    &.is-bad {
      background-color: $badColor;
    }
    &.is-veryBad {
      background-color: $veryBadColor;
    }
    &.is-good {
      background-color: $goodColor;
    }
    &.is-veryGood {
      background-color: $veryGoodColor;
    }
  }
  &__days-box {
    display: flex;
    justify-content: space-between;
    height: 12px;
  }
  &__day {
    background-color: #2C50FF;
    flex-grow: 1;
    border: 1px solid white;
    border-right: none;
    &:first-child {
      border-left: none;
    }
    &.is-normal {
      background-color: $normalColor;
    }
    &.is-bad {
      background-color: $badColor;
    }
    &.is-veryBad {
      background-color: $veryBadColor;
    }
    &.is-good {
      background-color: $goodColor;
    }
    &.is-veryGood {
      background-color: $veryGoodColor;
    }
  }
  &__name-box {
    padding: 5px;
  }
  &__rating {
    font-weight: 600;
    background-color: orange;
    border: 1px solid white;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.is-normal {
      background-color: $normalColor;
    }
    &.is-bad {
      background-color: $badColor;
    }
    &.is-veryBad {
      background-color: $veryBadColor;
    }
    &.is-good {
      background-color: $goodColor;
    }
    &.is-veryGood {
      background-color: $veryGoodColor;
    }
  }
}