.NavTable {
  color: white;
  &__shop {
    background-color: red;
    height: 40px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__days-box {
    display: flex;
    justify-content: space-between;
    height: 10px;
  }
  &__day {
    background-color: #2C50FF;
    flex: 1;
    border: 1px solid white;
    border-right: none;
    &:first-child {
      border-left: none;
    }
  }
  &__name-box {
    padding: 5px;
  }
  &__rating {
    background-color: orange;
    border: 1px solid white;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}